<div>
  <img src= <%= current_user.avatar %> width="230" height="230"/><br />
  <%= current_user.name %><br />
  <%= current_user.bio %><br />
  <%= current_user.location %><br />
  Joined on <%= time_tag(current_user.joined.to_datetime) %><br/>
</div>

<%= link_to "Your Repos", repos_path %>
<%= link_to "Your Organizations", orgs_path %>
<%= link_to "You Commit History", commits_path %>
